<!--start:header-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="./../../../css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="./../../../css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="./../../../css/crm-base.css">
    <link rel="stylesheet" type="text/css" href="./../../../css/fonts/iconfont.css">
    <title>会员详情</title>
</head>

<body>
<!--end:header-->

    <style>
        .mem-birthday {
            width: 80px;
            height: 80px;
            border-radius: 40px;
        }

        .weui-navbar__item {
            color: #a2a2a2;
            background-color: #f0f0f0;
        }

        .weui-navbar__item.weui-bar__item--on {
            color: #666;
            background-color: #fff;
        }

        .weui-navbar__item.weui-bar__item--on .iconfont {
            color: #ffc107;
        }

        body {
            background-color: #fff;
        }
    </style>
    <div style="background-color: #fff;padding-bottom: 60px;">
        <div class="p-10">
            <div class="flex">
                <div class="pl-10 pr-10 t-center">
                    <div id="mem-info" class="p-r">

                    </div>
                    <span class="weui-badge c-badge" data-key="card_type"></span>
                </div>
                <div class="flex-1">
                    <div class="flex">
                        <div class="flex-1">
                            <div class="f-14" data-key="name"></div>
                            <div class="f-14">
                                <i class="iconfont icon-shengri"></i>
                                <span class="txt-d" data-key="birthday"></span>
                            </div>
                            <div class="f-14">
                                <i class="iconfont icon-rili"></i>
                                <span class="txt-d" data-key="stime"></span>
                            </div>
                        </div>
                        <div class="flex-1">
                            <div class="f-14">
                                <i class="iconfont icon-user"></i>
                                <span class="txt-d" data-key="guide"></span>
                            </div>
                            <div class="f-14">
                                <i class="iconfont icon-leijishouyi"></i>
                                <span class="txt-d" data-key="total"></span>
                            </div>
                            <div class="f-14">
                                <i class="iconfont icon-shouji"></i>
                                <span class="txt-d" data-key="phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="f-14">
                        <i class="iconfont icon-shangdian"></i>
                        <span class="txt-d" data-key="store"></span>
                    </div>
                    <div class="f-14">
                        <i class="iconfont icon-cardb"></i>
                        <span class="txt-d" data-key="card"></span>
                    </div>
                    <div class="f-14">
                        <i class="iconfont icon-dingwei"></i>
                        <span class="txt-d" data-key="address"></span>
                    </div>
                </div>
            </div>
            <div class="f-14 pt-5 pb-5 pr-10 pl-10">
                无备注
                <i class="iconfont icon-edit" style="color: #28b6f6;"></i>
            </div>
            <div class="pt-10 pb-10" style="border-top: 1px solid #e8e8e8;border-bottom: 1px solid #e8e8e8;">
                <div class="flex">
                    <div class="flex-1 t-center">
                        <div class="f-14">
                            优惠券
                            <i class="iconfont icon-arrowr f-14 p-r" style="top: 2px;"></i>
                        </div>
                        <div class="f-18 pt-5">
                            <span data-key="coupon_num"></span>个
                        </div>
                    </div>
                    <div class="flex-1 t-center" style="border-right: 1px solid #e8e8e8; border-left: 1px solid #e8e8e8;">
                        <div class="f-14">
                            客单价
                        </div>
                        <div class="pt-5">
                            <i class="iconfont icon-renminbi"></i>
                            <span class="f-18" data-key="price"></span>
                        </div>
                    </div>
                    <div class="flex-1 t-center">
                        <div class="f-14">
                            累计消费金额
                            <i class="iconfont icon-arrowr f-14 p-r" style="top: 2px;"></i>
                        </div>
                        <div class="f-18 pt-5" data-key="total_amount"></div>
                    </div>
                </div>
                <div class="f-14 t-center pt-10" style="color: #e51c23;">
                    上次消费：
                    <span data-key="last_buy"></span>
                </div>
            </div>

            <div class="p-10">
                <div class="label">标签</div>
                <span id="label-list" class="label-list">
                </span>
                <span class="weui-badge c-badge c-btn">
                    <i class="iconfont icon-add f-12"></i>
                    添加新标签
                </span>
            </div>
        </div>
        <div class="weui-tab">
            <div class="weui-navbar">
                <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                    <i class="iconfont icon-jilu"></i>
                    消费记录
                </a>
                <a class="weui-navbar__item" href="#tab2">
                    <i class="iconfont icon-shoucang"></i>
                    收藏商品
                </a>
                <a class="weui-navbar__item" href="#tab3">
                    <i class="iconfont icon-huifang f-18"></i>
                    回访记录
                </a>
            </div>
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item p-10 weui-tab__bd-item--active">
                    <div id="buy-list"></div>
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">正在加载</span>
                    </div>
                </div>
                <div id="tab2" class="weui-tab__bd-item p-10">
                    <div id="goods-list"></div>
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">正在加载</span>
                    </div>
                </div>
                <div id="tab3" class="weui-tab__bd-item p-10">
                    <div id="visit-list"></div>
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">正在加载</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-footer flex">
            <a class="flex-1 btn" href="#">
                <i class="iconfont icon-phone"></i>
                打电话
            </a>
            <a class="flex-1 btn" href="#">
                <i class="iconfont icon-duanxin"></i>
                发短信
            </a>
        </div>
    </div>


    <!-- 个人信息模版 -->
    <script id="tp-usrinfo" type="text/html">
        <img class="mem-birthday" src="{{img}}" alt="">
        {{if sex == 1}}
        <div class="mem p-a" style="right: 0;top: 58px;">
            <i class="iconfont icon-nan"></i>
        </div>
        {{else}}
        <div class="women p-a" style="right: 0;top: 58px;">
            <i class="iconfont icon-nv"></i>
        </div>
        {{/if}}
    </script>

    <!-- 标签模版 -->
    <script id="tp-labels" type="text/html">
        {{each list as data index}}
        <span class="weui-badge c-badge">{{data.name}}</span>
        {{/each}}
    </script>
    <!-- 消费记录模版 -->
    <script id="tp-buylist" type="text/html">
        {{each list as data index}}
        <div class="flex">
            <div class="time-axis" style="width:110px;">
                <div class="t-right pt-5 pb-5 flex flex-direction-col flex-justify-center">
                    <div>{{data.stime}}</div>
                    <div class="txt-d">{{data.datetime}}</div>
                    <div class="f-12">{{data.store}}</div>
                </div>
            </div>
            <div class="flex-1 flex pt-10 pb-10 pl-5" style="border-bottom: 1px dashed #e8e8e8;">
                <div class="mr-5">
                    <img src="{{data.img}}" alt="" width="80px;">
                </div>
                <div class="flex-1" style="line-height: 20px;">
                    <div class="f-14">{{data.name}}</div>
                    <div class="f-14 txt-d">{{data.xh}}</div>
                    <div class="f-14 txt-a">¥{{data.price}}</div>
                    <div class="f-14 txt-d">{{data.gk}}</div>
                </div>
            </div>
        </div>
        {{/each}}  
    </script>
    <!-- 收藏商品模版 -->
    <script id="tp-goods" type="text/html">
        {{each list as data index}}
        <div class="flex pt-10 pb-10 pr-5 pl-5" style="border-bottom: 1px dashed #e8e8e8;">
            <div class="mr-5">
                <img src="{{data.img}}" alt="" width="80px;">
            </div>
            <div class="flex-1" style="line-height: 20px;">
                <div class="f-14">{{data.name}}</div>
                <div class="f-14 txt-d">{{data.xh}}</div>
                <div class="f-14 txt-a">¥{{data.price}}</div>
                <div class="f-14 txt-d">{{data.gk}}</div>
            </div>
        </div>
        {{/each}}  
    </script>
    <!-- 回访记录模版 -->
    <script id="tp-visit" type="text/html">
        {{each list as data index}}
        <div class="flex">
            <div class="time-axis" style="width:90px;">
                <div class="t-right pt-5 pb-5 flex flex-direction-col flex-justify-center">
                    <div>{{data.stime}}</div>
                    <div class="txt-d">{{data.datetime}}</div>
                </div>
            </div>
            <div class="flex-1 flex flex-align-center pt-10 pb-10 pl-5" style="border-bottom: 1px dashed #e8e8e8;">
                <div class="flex-1 ml-10">
                    <div class="f-14">{{data.tx1}}</div>
                    <div class="f-14 txt-d"><i class="iconfont icon-huifang f-20"></i>{{data.tx2}}</div>
                    <div class="f-14 txt-d" style="padding-left: 2px;"><i class="iconfont icon-kaixin f-14"></i> {{data.tx3}}</div>
                    <div class="f-14 txt-d"><i class="iconfont icon-pj f-14"></i>{{data.tx4}}</div>
                </div>
                <div class="f-14">
                    <!-- <i class="iconfont icon-circle f-18"></i> -->
                    {{if data.to_store == 1}}
                    <span class="weui-badge c-badge flex flex-align-center" style="background: #e4e4e2;">
                        <i class="iconfont icon-circle f-18"></i>
                        <span>到店</span>
                    </span>
                    {{else}}
                    <span class="weui-badge c-badge  flex flex-align-center">
                        <i class="iconfont icon-check f-18"></i>
                        <span>到店</span>
                    </span>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </script>
    <!--start:script-->
</body>
<script type="text/javascript" src="./../../../script/jquery-2.1.4.js"></script>
<script type="text/javascript" src="./../../../script/jquery-weui.min.js"></script>
<script type="text/javascript" src="./../../../script/template-web.js"></script>
<script type="text/javascript" src="./../../../script/fastclick.js"></script>
<script type="text/javascript" src="./../../../script/lodash.min.js"></script>
<script type="text/javascript" src="./../../../script/moment.min.js"></script>
<script type="text/javascript" src="./../../../script/crm-base.js"></script>
<!--end:script-->

<script>
    var loading;
    var Mock = {
        name: '张小红',
        sex: 1,  // 1 男  2 女
        img: './../../../image/CRM/m1.jpeg',
        card_type: '普卡',
        guide: '导购名称',
        birthday: '1988-05-01',
        total: 1999,
        stime: '2个月前',
        phone: '13812312345',
        store: '正佳广场',
        card: '正佳广场',
        address: '广州市天河区天河南二路六运七街1号',
        coupon_num: 5,
        price: 3450,
        total_amount: 56380,
        last_buy: '5天前',
        labels: [
            { name: '喜欢的品牌：Cabbeen' },
            { name: '休闲系列' },
            { name: '衬衫' },
            { name: '喜欢的颜色：白色 蓝色' },
            { name: '尺码：L' }
        ],
        buy_list: [
            {
                stime: '6天前',
                datetime: '2018-05-08',
                store: '广州汕头澄海东里招商路专卖店',
                img: './../../../image/CRM/a1.png',
                name: '2018韩版男款夏季衬衫...',
                xh: 'GS1782193',
                price: 129,
                gk: 'L 格子灰'
            }, {
                stime: '6天前',
                datetime: '2018-05-08',
                store: '广州汕头澄海东里招商路专卖店',
                img: './../../../image/CRM/a1.png',
                name: '2018韩版男款夏季衬衫...',
                xh: 'GS1782193',
                price: 129,
                gk: 'L 格子灰'
            }, {
                stime: '6天前',
                datetime: '2018-05-08',
                store: '正佳广场',
                img: './../../../image/CRM/a1.png',
                name: '2018韩版男款夏季衬衫...',
                xh: 'GS1782193',
                price: 129,
                gk: 'L 格子灰'
            }
        ],
        col_goods: [
            {
                img: './../../../image/CRM/a1.png',
                name: '2018韩版男款夏季衬衫...',
                xh: 'GS1782193',
                price: 129,
                gk: 'L 格子灰'
            },
            {
                img: './../../../image/CRM/a1.png',
                name: '2018韩版男款夏季衬衫...',
                xh: 'GS1782193',
                price: 129,
                gk: 'L 格子灰'
            },
            {
                img: './../../../image/CRM/a1.png',
                name: '2018韩版男款夏季衬衫...',
                xh: 'GS1782193',
                price: 129,
                gk: 'L 格子灰'
            }
        ],
        visit: [
            {
                stime: '一个月前',
                datetime: '04-01',
                tx1: '服务人员:顾问名称',
                tx2: '电话回访-接听或有回复',
                tx3: '愿意到店(2018-04-08)',
                tx4: '邀请到店，可以接收',
                to_store: 1
            },
            {
                stime: '一个月前',
                datetime: '04-01',
                tx1: '服务人员:顾问名称',
                tx2: '电话回访-接听或有回复',
                tx3: '愿意到店(2018-04-08)',
                tx4: '邀请到店，可以接收',
                to_store: 0
            },
            {
                stime: '一个月前',
                datetime: '04-01',
                tx1: '服务人员:顾问名称',
                tx2: '电话回访-接听或有回复',
                tx3: '愿意到店(2018-04-08)',
                tx4: '邀请到店，可以接收',
                to_store: 1
            }
        ]
    }

    //数据渲染
    util.render( {
        name: Mock.name,
        card_type: Mock.card_type,
        guide: Mock.guide,
        birthday: Mock.birthday,
        total: Mock.total,
        stime: Mock.stime,
        phone: Mock.phone,
        store: Mock.store,
        card: Mock.card,
        address: Mock.address,
        coupon_num: Mock.coupon_num,
        price: util.num2Money( Mock.price ),
        total_amount: util.num2Money( Mock.total_amount ),
        last_buy: Mock.last_buy
    } )

    //模版渲染
    util.templateRender( 'tp-usrinfo', {
        sex: Mock.sex,
        img: Mock.img
    }, $( '#mem-info' ) )

    util.templateRender( 'tp-labels', {
        list: Mock.labels
    }, $( '#label-list' ) )

    util.templateRender( 'tp-buylist', {
        list: Mock.buy_list
    }, $( '#buy-list' ) )

    util.templateRender( 'tp-goods', {
        list: Mock.col_goods
    }, $( '#goods-list' ) )

    util.templateRender( 'tp-visit', {
        list: Mock.visit
    }, $( '#visit-list' ) )

    $( document.body ).infinite().on( "infinite", function () {
        if ( loading ) return;
        loading = true;
        setTimeout( function () {
            console.log( 'load' )
            var id = $( '.weui-tab__bd-item--active' ).attr( 'id' )
            switch ( id ) {
                case 'tab1':
                    util.templateRenderAppend( 'tp-buylist', {
                        list: [{
                            stime: '6天前',
                            datetime: '2018-05-08',
                            store: '正佳广场',
                            img: './../../../image/CRM/a1.png',
                            name: 'test...',
                            xh: 'GS1782193',
                            price: 129,
                            gk: 'L 格子灰'
                        }]
                    }, $( '#buy-list' ) )
                    break;
                case 'tab2':
                    util.templateRenderAppend( 'tp-goods', {
                        list: [{
                            img: './../../../image/CRM/a1.png',
                            name: 'test...',
                            xh: 'GS1782193',
                            price: 129,
                            gk: 'L 格子灰'
                        }]
                    }, $( '#goods-list' ) )
                    break;
                case 'tab3':
                    util.templateRenderAppend( 'tp-visit', {
                        list: [{
                            stime: '一个月前',
                            datetime: '04-01',
                            tx1: '服务人员:顾问名称',
                            tx2: '电话回访-接听或有回复',
                            tx3: '愿意到店(2018-04-08)',
                            tx4: '邀请到店，可以接收',
                            to_store: 1
                        }]
                    }, $( '#visit-list' ) )
                    break;
            }

            loading = false;
        }, 2000 );
    } );
</script>

<!--start:footer-->
</html>
<!--end:footer-->