html,body{
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

.full-page {
    /* height: 100%; */
    background-color: #fff;
}

a { color: #fff; }
div {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input {
    -webkit-appearance: none; /* 方法2 */
}
.flex { display: flex; }
.flex-between {
    justify-content: space-between;
}
.flex-direction-col {
    flex-direction: column;
}
.flex-align-center {
    align-items: center;
}
.flex-justify-center {
    justify-content: center;
}
.content-block {
    background-color: #fff;
}
.p-r { position: relative; }
.p-a { position: absolute; }

.t-center { text-align: center }
.t-right { text-align: right }

.link { color: #fed139; }
.label { color: #333;
    font-weight: 600; }
.a-text { color: #ffcc01; }

.txt-a { color: #ff9800 };
.txt-w { color: #333; }
.txt-n { color: #666; }
.txt-d { color: #999; }
.txt-l { color: #c3c3c3; }

.fl { float: left; }
.clearfix:after {
   content:""; 
   display: block; 
   clear:both; 
}

.inline-block {
    display: inline-block;
}

.c-badge {
    padding: 3px 10px;
    color: #333;
    background: #ffcc01;
}

.dropdown .drop-icon {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 2px;
}
.dropdown-content {
    background: #f7f7f7;
    display: none;
}
.dropdown-content .weui-cell__bd p {
    font-size: 14px;
}

.drop-search-content {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}


.container-body {
    margin: 10px 10px 0;
    background-color: #fff;
    border-radius: 5px;
}

.date-sinput {
    width: 90px;
    font-size: 12px;
    padding: 4px 8px;
    line-height: 18px;
    height: 18px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

.date-rinput {
    width: 75px;
    text-align: center;
}

.t-table {
    display: flex;
    padding: 10px;
}
.t-table > div {
    flex: 1;
    text-align: center;
}
.t-table > div:first-child {
    border-right: 1px solid #e8e8e8
}
.t-table .title {
    font-size: 14px;
    padding: 10px 0 5px;
}
.t-table .value {
    font-size: 28px;
    color: #888;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .65);
    z-index: 10000;
}
.modal-content {
    left: 600px;
    transition: left .2s linear;
}
.modal.open {
    display: block;
}
.modal-content.open {
    left: 125px;
    transition: left .2s linear;
}

.dash-line {
    border-top: 1px dashed #e8e8e8;
    margin: 10px 0;
}
.filter-dialog {
    position: relative;
    height: 100%;
    background-color: #fff;
}
.filter-dialog .filter-dialog-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 76px;
    left: 0;
    padding: 15px;
    overflow-y: auto;
}
.filter-dialog .filter-dialog-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    text-align: center;
}
.filter-dialog .filter-dialog-footer .weui-btn {
    margin: 0 20px;
}
.fixed-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background-color: #f0f0f0;
    z-index: 9999;
}
.fixed-footer > a,
.fixed-footer > div {
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
    color: #666;
}
.women {
    width:20px;
    height:20px;
    border-radius: 10px;
    background-color: #ff3f80;
    text-align: center;
}
.women .iconfont {
    color: #fff;
    font-size: 14px;
    position: relative;
    top: -2px;
}
.mem {
    width:20px;
    height:20px;
    border-radius: 10px;
    background-color: #483fff;
    text-align: center;
}
.mem .iconfont {
    color: #fff;
    font-size: 14px;
    position: relative;
    top: -2px;
}

.time-axis {
    position: relative;
    border-right: 2px solid #ffc107;
    display: flex;
    justify-content: flex-end;
}

.time-axis:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffc107;
    position: absolute;
    top: 50px;
    right: -6px;
}
.time-axis div {
    font-size: 14px;
}
.time-axis > div {
    padding-right: 10px;
}

.c-btn {
    border: 1px solid #e8e8e8;
    background-color: #fff;
}
.group-item {
    padding: 10px 15px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
}
.control-text {
    border-width: 0;
    font-size: 16px;
}
.group-drop .group-drop-content {
    display: none;
}
.group-drop.open .group-drop-content {
    display: block;
}

.sw-input {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    width: 80px;
    font-size: 14px;
    padding: 5px 10px;
    color: #999;
    -webkit-appearance: none; /* 方法2 */
}
.sw-input-icon-before {
    position: relative;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    width: 102px;
    height: 28px;
    border-radius: 5px;
}
.sw-input-icon-before input {
    position: absolute;
    top: 0;
    width: 80px;
    font-size: 14px;
    padding: 3px 0;
    border-width: 0;
    color: #999;
    -webkit-appearance: none; /* 方法2 */
}
.sw-input-icon-before .iconfont {
    color: #999;
}
/* .sw-input-icon-before .iconfont {
    position: absolute;
    top: 2px;
} */
.swiper-button-prev-sw{
    left: -3px;
    right: auto;
}
.swiper-button-next-sw{
    right: 0px;
    left: auto;
}
.swiper-button-prev-sw,
.swiper-button-next-sw {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
}
.swiper-button-prev-sw .iconfont,
.swiper-button-next-sw .iconfont{
    font-size: 30px;
    color: #a7a7a7;
}
.icon-xingxing {
    color: #cdcdcd;
}
.icon-xingxing.active {
    color: #ffc106;
}

.send {
    position: relative;
    /* width: 150px; */
    max-width: 220px;
    /* height: 35px; */
    background: #9bcc65;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
}

.send .arrow {
    position:absolute;
    top:5px;
    right:-16px; /* 圆角的位置需要细心调试哦 */
    width:0;
    height:0;
    font-size:0;
    border:solid 8px;
    border-color:#fff #fff #fff #9bcc65;
}

/* weui css */
.weui-grids.no-border:before {
    border-top-width: 0;
}
.weui-grids.no-border:after {
    border-left-width: 0;
}
.weui-grid.no-border:before {
    border-right-width: 0;
}
.weui-grid.no-border:after {
    border-bottom-width: 0;
}
.weui-cells { font-size: 16px; }
.weui-cell__bd p {
    color: #333;
}
.weui-cell.weui-link .iconfont{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 2px;
}
.weui-link:active {
    background-color: #ececec;
}

.weui-navbar {
    background-color: #fff;
}
.weui-navbar__item {
    padding: 0;
    font-size: 16px;
    line-height: 44px;
}
.weui-navbar__item.weui-bar__item--on {
    color: #ffcc00;
    /* border-bottom: 3px solid #ffcc00; */
    background-color: #fff;
}
.weui-navbar__item-line {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: #ffcc00;
}
.weui-navbar__item.weui-bar__item--on .weui-navbar__item-line {
    display: block;
}
.weui-navbar:after {
    border-bottom: 1px solid #e5e5e5;
}
.weui-navbar__item:after {
    width: 0;
    border-right-width: 0;
}
.weui-navbar+.weui-tab__bd {
    padding-top: 44px;
}
.weui-btn_primary {
    background-color: #ffcc00 !important;
    color: #666 !important;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
    color: #666 !important;
    background-color: #f9db63 !important;
}
.weui-btn_default {
    background-color: #f0f0f0;
    color: #666;
}
.weui-btn_default:not(.weui-btn_disabled):active {
    background-color: #dedede;
    color: #666;
}
.weui-btn_bl {
    background-color: #9bcc65;
    color: #fff;
}
.weui-btn_bl:not(.weui-btn_disabled):active {
    color: #fff;
    background-color: #a8ce7e;
}
.weui-search-bar__cancel-btn{
    margin-left: 5px;
}
.weui-search-bar:before {
    border-top-width: 0;
}
.weui-search-bar:after {
    border-bottom-width: 0;
}
.weui-loadmore_line .weui-loadmore__tips {
    background-color: #f0f0f0;
}
.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before {
    content: "\EA06";
    color: #fed13a;
}
.weui-check__label:active{
    background-color: transparent;
}
.weui-border { border: 1px solid #cdcdcd; }
/* 常用字体类 */
.f-12 { font-size: 12px !important; }
.f-14 { font-size: 14px !important; }
.f-16 { font-size: 16px !important; }
.f-18 { font-size: 18px !important; }
.f-20 { font-size: 20px !important; }
.f-22 { font-size: 22px !important; }
.f-24 { font-size: 24px !important; }
.f-26 { font-size: 26px !important; }
.f-28 { font-size: 28px !important; }
.f-30 { font-size: 30px !important; }

/* 常用间距类 */
.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 { padding: 25px; }
.p-30 { padding: 30px; }

.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }

.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-25 { padding-right: 25px; }
.pr-30 { padding-right: 30px; }

.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }

.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-25 { padding-left: 25px; }
.pl-30 { padding-left: 30px; }

.m-5 { margin: 5px; }
.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }
.m-30 { margin: 30px; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }

.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }

.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }

.flex-1 { flex: 1 }


/* crm-base 插件样式 */
.btn-checker .btn-checker-item.active {
    border: 1px solid #ffcc01 !important;
}
.btn-checker .btn-checker-item.active::after {
    content: '\e66c';
    position: absolute;
    right: -1px;
    bottom: -1px;
    font-size: 26px;
    font-family: 'iconfont';
    color: #ffcc01;
}

.sw-table {
    width: 100%;
}
.sw-table th,
.sw-table td {
    text-align: left;
    font-size: 14px;
}

.sw-select {
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}
.sw-select input {
    flex: 1;
    padding: 6px 8px;
    border-radius: 0;
    border-width: 0;
    font-size: 12px;
    line-height: 12px;
    width: inherit;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    -webkit-appearance: none;
}
.sw-select input:focus {
    outline: none;
}
.sw-select > div {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    position: absolute;
    right: 0;
    height: 100%;
    width: 19px;
}
.sw-select .iconfont {
    font-size: 12px;
    color: #888;
    transform: scale(0.75);
}
.sw-select .icon-shangsanjiao {
    position: absolute;
    top: 0px;
    right: 3px;
}
.sw-select .icon-xiasanjiao {
    position: absolute;
    bottom: 0px;
    right: 3px;
}
.fixed-table-box .table-cell {
    padding-left: 5px !important;
}

.sw-switch:focus:hover {
    box-shadow: none;
}

.sw-switch {
    display: inline-block;
}

.sw-switch:focus:hover {
    box-shadow: none;
}

.sw-switch:focus {
    box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
    outline: 0;
}

.sw-switch {
    width: 48px;
    height: 26px;
    line-height: 26px;
    /* border-radius: 24px; */
    vertical-align: middle;
    /* border: 1px solid #2d8cf0; */
    background-color: #2d8cf0;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s ease-in-out;
}

/* .sw-switch-checked {
    border-color: #2d8cf0;
    background-color: #2d8cf0;
} */
.sw-switch-checked .sw-switch-inner {
    left: 6px;
}
.sw-switch-inner {
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 40px;
}
.sw-switch-large {
    width: 70px;
    border-radius: 3px;
}
.sw-switch:after {
    content: "";
    width: 35px;
    height: 26px;
    border-radius: 3px 0 0 3px;
    /* border-radius: 20px; */
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    transition: left .2s ease-in-out, width .2s ease-in-out;
}
.sw-switch-large.sw-switch-checked:after {
    left: 35px;
    border-radius: 0 3px 3px 0;
}
.sw-switch-checked:after {
    left: 27px;
}